* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  background-color: #F7E7C5;
  color: #1F1915;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 72px;
}

p {
  font-size: 1rem;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

@mixin mobile {
  @media (max-width: 738px) {
    @content
  }
}
