@import './../../app.scss';

.home {
  height: 100%;
  width: 100%;
  overflow: hidden;

  .navbar {
    height: 100px;
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include mobile {
      justify-content: flex-end;
      padding: 20px;
    }

    img {
      height: 35px;
    }

    .social {
      display: flex;
      gap: 30px;
      z-index: 200;

      .brand {
        font-size: 30px;
        color: #DF1E09;
        opacity: 0.6;
        transition: 0.3s;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .triangle {
    width: 0;
    height: 0;
    border-top: 600px solid #088798;
    border-right: 1200px solid transparent;
    position: absolute;
    top: 0;

    @include tablet {
      border-top: 586px solid #088798;
      border-right: 726px solid transparent;
    }

    @include mobile {
      border-top: 586px solid #088798;
      border-right: 215px solid transparent;
    }
  }

  .circle {
    background-color: #DF1E09;
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
    bottom: 75px;
    left: 150px;
    z-index: 100;

    @include mobile {
      height: 150px;
      width: 150px;
      bottom: 222px;
      left: 4px;
    }
  }

  .name {
    position: absolute;
    transform: rotate(332deg);
    top: 150px;
    left: 250px;
    display: flex;
    padding: 20px;
    height: 250px;
    color: #088798;
    background-color: #1F1915;

    .first {
      color: #F7E7C5;
    }

    .subtitle {
      color: #F6C93C;
    }

    h2 {
      @include mobile {
        font-size: 25px;
        text-align: right;
      }
    }

    h1 {
      @include mobile {
        font-size: 50px;
      }

      @include tablet {
        font-size: 50px;
      }
    }

    @include tablet {
      left: 49px;
      height: 170px;
    }

    @include mobile {
      top: 200px;
      left: 22px;
      height: 203px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-right: 65px;
    }
  }

  .about {
    border: 3px solid #DF1E09;
    width: 400px;
    position: absolute;
    bottom: 50px;
    right: 50px;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: right;
    line-height: 22px;
    padding: 60px 20px 30px 15px;

    @include mobile {
      bottom: 0px;
      right: 0px;
      margin: 15px;
      width: 360px;
    }
  }
}
