.navbar {
  height: 100px;

  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;

    img {
      height: 25px;
    }

    span {
      font-weight: bold;
    }

    .social {
      display: flex;
      gap: 20px;
    }
  }
}
