@import './../../mixin.scss';

.cursor {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #1F1915;
  position: fixed;
  z-index: 999;

  @include mobile {
    display: none;
  }
}
